<div id="header-first">
<div class="region region-header-first">
<div id="block-search-form" class="block block-search block-odd">

<div class="content">
<form action="/" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
<h2 class="element-invisible">Search form</h2>
<div class="form-item form-type-textfield form-item-search-block-form">
<label class="element-invisible" for="edit-search-block-form--2">Search </label>
<input title="Enter the terms you wish to search for." placeholder="Search" type="search" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text" />
</div>
<div class="form-actions form-wrapper" id="edit-actions--2"><input type="submit" id="edit-submit--2" name="op" value="Search" class="form-submit" /></div><input type="hidden" name="form_build_id" value="form-8JiE-9DAu3WqwfHArydapYY_oXtzrB2rkCUV26yvwyE" />
<input type="hidden" name="form_id" value="search_block_form" />
</div>
</div></form>  </div><!-- /.content -->
</div><!-- /.block -->
<div id="block-menu-menu-top-links" class="block block-menu block-even">

<div class="content">
<ul class="menu clearfix"><li class="first last leaf login"><a href="/user" title="">login</a></li>
</ul>  </div><!-- /.content -->
</div><!-- /.block -->
<div id="block-menu-menu-language" class="block block-menu block-odd">

<div class="content">
<ul class="menu clearfix"><li class="first last leaf עברית"><a href="/hebrew" title="">עברית</a></li>
</ul>  </div><!-- /.content -->
</div><!-- /.block -->
</div>
</div><!-- /#header_first -->

<header id="header" role="banner">
<div class="logo-and-region-header">
<div class="background-logo"></div>
<a href="/" title="Home" rel="home" id="logo">
<img src="http://tikalk.com/sites/all/themes/sasson/tikal/logo.png" alt="Home" />
</a>

<div class="region region-header">
<section id="block-menu-menu-header-menu" class="block block-menu block-even">
<h2 class="block-title element-invisible">Header menu</h2>

<div class="content">
<ul class="menu clearfix"><li class="first leaf about"><a href="/about" title="">About</a></li>
<li class="leaf solutions"><a href="/solutions" title="">Solutions</a></li>
<li class="leaf careers"><a href="/careers" title="">Careers</a></li>
<li class="leaf events"><a href="/events" title="">Events</a></li>
<li class="last leaf contact"><a href="/contact" title="">Contact</a></li>
</ul>  </div><!-- /.content -->
</section><!-- /.block -->
<section id="block-menu-menu-domains" class="block block-menu block-odd">
<h2 class="block-title element-invisible">Domains</h2>

<div class="content">
<ul class="menu clearfix"><li class="first leaf alm"><a href="/alm" title="">ALM</a></li>
<li class="leaf java"><a href="/java" title="">JAVA</a></li>
<li class="leaf js"><a href="/js" title="">JS</a></li>
<li class="leaf .net"><a href="/net" title="">.NET</a></li>
<li class="last leaf ror"><a href="/ror" title="">RoR</a></li>
</ul>  </div><!-- /.content -->
</section><!-- /.block -->
</div>
</div><!-- /#logo-and-region-header -->
</header><!-- /#header -->